body{
/*   font-size: 56px; */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  line-height: .9;
  margin: 8px;
/*   font-size: 1em; */
}

h1{font-size: 48px;}
h2{font-size: 42px;}

p{
  font-size: 22px;
  line-height: 20px;
}

/* .row{
  margin-top: 10px;
} */