html, body, #editor, #compiledHTML, #rawHTML {
  margin: 0;
  height: 98%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

#compiledHTML{
  height: 100%;
  overflow: auto;
}
form{
  display: inline;
}
textarea, #editor div, #rawHTML {
  display: inline-block;
  width: 33%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
 
  
}
#textArea{
   background-color: #f6f6f6;
}

textarea {
  width: 100%;
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}

pre, code {
  height: 100%;
  font-size: 1.1em;
  margin: 0px 0px 0px 0px!important;
  color: black;

}

#rawHTML, code{
  padding: 0px!important;
  
}
code{
  /* overflow: auto; */
  padding: 0px!important;
  
}

#compiledHTML, #rawHTML{
  padding: 10px;
}
ol ol{
  list-style-type: lower-alpha;
}

img{
  max-width: 50%;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
  
}
table{
   width: 90%;
}

code{
  padding: 10px!important;
}